/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 20px;
  gap: 16px;
}

.search-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #fff;
  width: 272px;
}

.search-form input:hover {
  border: 1px solid #000;
}

.search-form input:active {
  border: 10px solid #4E75FF;
}

.search-form input::placeholder {
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.search-form button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
  color: #ffffff;
}

.search-form button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
  border-radius: 8px;
  overflow: hidden;
  width: calc((100% - 48) / 3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #f3f3f3;
}

.gallery-item img {
  width: 360px;
  height: 220px;
}

.info {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 32px;
  background-color: #fff;
}

.info p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2E2F42;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

.info p span {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid;
  border-color: rgb (197 29 29 / 15%) rgba(156, 80, 36, 0.514) rgba(209, 106, 46, 0.582) rgba(234, 94, 13, 0.811);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-btn {
  margin: auto;
  margin-top: 20px;
  padding: 8px 16px;
  display: block;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #ffffff;
}

.load-btn:hover {
  border-color: #6c8cff;
}

.hidden {
  display: none;
}

.load-more {
  position: relative;
  height: 43px;
}

.is-active {
  display: block;
  opacity: 1;
}

.is-active-more {
  display: block;
  opacity: 1;
  top: 100%;
}